* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* shared style */

.btn {
  padding: 20px 26px;
  background-color: #f15b22;
  color: #ffffff;
  font-size: 20px;
  border: none;
  outline: none;
  font-weight: 600;
  border-radius: 5px;
}
.btn-bg {
  background-color: #fff;
  color: #f15b22;
  padding: 20px 36px;
}
.radius {
  border-radius: 8px;
}

/* main style */

/* heading Section */
header {
  background-image: url("./images/banner/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 216px 0 166px;
}
.header-container {
  margin: 0 auto;
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: flex-end;
}
.header-content h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #151414;
  max-width: 525px;
  direction: rtl;
}
.header-content p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 32px;
  color: #444343;
  max-width: 494px;
  direction: rtl;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.my-btn {
  display: flex;
  justify-content: flex-end;
}

/* Stories Section */
#stories {
  padding: 130px 0;
}
#stories .stories-container {
  width: 67%;
  max-width: 1072px;
  margin: 0 322px 0 206px;
  display: flex;
  align-items: center;
  gap: 87px;
}
.stories-container .stories-img {
  max-width: 569px;
  position: relative;
}
.stories-container .stories-img img {
  width: 100%;
}
.stories-container .stories-bg {
  border-radius: 50%;
  width: 527px;
  height: 527px;
  background-color: #f15b22;
  opacity: 0.2;
  position: absolute;
  z-index: -1;
  top: 27%;
  left: 4%;
}

.stories-content {
  max-width: 416px;
  margin: 239px 0 84px;
}
.stories-content h2 {
  font-size: 40px;
  font-weight: 700;
  color: #151414;
  margin-bottom: 24px;
}
.stories-content .stories-para {
  font-size: 16px;
  color: #444343;
  line-height: 26px;
  margin-bottom: 16px;
}
.stories-content .stories-desc {
  max-width: 349px;
}

.stories-content .stories-desc p {
  font-size: 16px;
  color: #444343;
  line-height: 26px;
  margin-bottom: 8px;
}
.stories-content .stories-desc p i {
  margin-right: 10px;
}

/* Feature Section */

#feature .feature-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
.feature-container h2 {
  font-size: 40px;
  font-weight: 700;
  color: #151414;
  margin-bottom: 60px;
  text-align: center;
}
.card-content {
  display: flex;
  gap: 86px;
  justify-content: space-between;
}
.card {
  text-align: center;
}
.card-content .card h3 {
  font-size: 30px;
  color: #151414;
  font-weight: 700;
  margin: 30px 0 16px;
}
.card-content .card p {
  font-size: 25px;
  color: #737272;
  font-weight: 500;
}

/* mindset section */
#mindset {
  padding: 130px 0;
}
#mindset .mindset-container {
  width: 71%;
  max-width: 1140px;
  background-image: url("images/gradient2.png"), url("images/watch.png");
  background-repeat: no-repeat;
  margin: 0 auto;
}
.mindset-content {
  padding: 59px 0;
  max-width: 459px;
  margin-left: 64px;
}
.mindset-content h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 24px;
}

/* Footer Section */
#footer {
  background-color: #151414;
  padding: 130px 0;
}
#footer .footer-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-desc {
  max-width: 485px;
}
.footer-desc h2 {
  font-size: 45px;
  font-weight: 700;
  color: #f8f8f8;
  margin-bottom: 16px;
}
.footer-desc p {
  font-size: 16px;
  color: #ffffff;
  line-height: 26px;
  margin-bottom: 24px;
}
.footer-desc p:nth-child(3) {
  margin-bottom: 16px;
}
.footer-desc p:nth-child(4) {
  margin-bottom: 32px;
}
.social-link {
  display: flex;
  gap: 17px;
}

.footer-form {
  max-width: 325px;
}
.footer-form h3 {
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 30px;
}
.footer-form input[type="email"] {
  padding: 20px;
  border: 1px solid #ffffff;
  outline: none;
  border-radius: 8px;
  font-size: 18px;
  color: #ffffff;
  background-color: transparent;
  margin-bottom: 16px;
  width: 100%;
}
.footer-form input::placeholder {
  color: #f3f3f3;
}
